@import "../../colors.scss";

main {
    background: linear-gradient(45deg, #1c1c1c 0%, #1b1b1b 29% 40%, #09453a 98%);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    height: 100dvh;
}

.startpage-margin {
    width: 90%;
    height: 100%;
}

.startpage-title-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-family: Fira Code;
        font-size: 40px;
        color: $white;
        margin: 0;
    }
    h1 {
        font-family: Karla;
        font-size: 128px;
        color: $white;
        margin: 0;
    }
}

.vertical-line-arrow-down-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .arrow-down-container {
        border: 1px solid $lightblue;
        border-radius: 16px;
        padding: 16px 8px;
        margin-bottom: 16px;
        overflow: hidden;
        
        .arrow-down {
            animation: jumpDown 1s infinite linear;
            cursor: default;
        }
    }

    .vertical-line-scroll {
        width: 1px;
        background-color: $lightblue;
        height: 200px;
    }
}

@keyframes jumpDown {
    0% {
        animation-timing-function: ease-out;
        transform: translateY(14px);
    }

    50% {
        animation-timing-function: ease-in;
        transform: translateY(4px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(14px);
    }
}

.startpage-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-top: 16px;
}

.startpage-button-container {
    border: 1px solid $white;
    border-radius: 16px;
    padding: 8px 16px;
    transition: border-color 0.35s ease-in-out;
    overflow: hidden;

    &:hover {
        border-color: $lightblue;
        cursor: pointer;

        .startpage-button {
            animation: moveLeft 2s infinite linear;
        }
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0%);
        visibility: visible;
    }

    49% {
        visibility: visible;
    }

    50% {
        transform: translateX(-120%);
        visibility: hidden;
    }

    51% {
        transform: translateX(120%);
        visibility: hidden;
    }

    52% {
        visibility: visible;
    }

    100% {
        transform: translateX(0%);
        visibility: visible;
    }
}