@import "../../colors.scss";

@media (max-width: 425px) {
    .startpage-title-name-container {
        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 16px;
        }
    }
}

@media (max-width: 390px) {
    .startpage-banner-container {
        width: 99%
    }
    .startpage-buttons-container {
        gap: 8px;

        .startpage-button-container {
            border: 1px solid $white;
            border-radius: 16px;
            padding: 8px 18px;
            transition: border-color 0.35s ease-in-out;
            overflow: hidden;
            font-size: 10px;
            font-weight: 500;
        }
    }
}

@media (max-width: 360px) {
    .startpage-title-name-container {
        h1 {
            font-size: 22px;
        }

        h2 {
            font-size: 14px;
        }
    }

    .startpage-buttons-container {
        gap: 8px;

        .startpage-button-container {
            border: 1px solid $white;
            border-radius: 16px;
            padding: 8px 18px;
            transition: border-color 0.35s ease-in-out;
            overflow: hidden;
            font-size: 9px;
            font-weight: 500;
        }
    }
}

@media (max-width: 330px) {
    .startpage-buttons-container {
        gap: 4px;

        .startpage-button-container {
            border: 1px solid $white;
            border-radius: 18px;
            padding: 8px 17px;
            transition: border-color 0.35s ease-in-out;
            overflow: hidden;
            font-size: 8px;
            font-weight: 500;
        }
    }
}

@media (min-width: 1930px) {
    .startpage-margin {
        width: 100%;
    }
    .maxSizeBanner-container {
        display:flex;
        justify-content: center;
        width: 1920px;
    }
    .startpage-banner-container {
        display: flex;
        align-items: center;
        width: 1930px;
        justify-content: center;
        position:relative;
    }
    .banner-text-container {
        animation: bannerSlide 15s linear infinite;
    }
}