@import "../../colors.scss";

@media (max-width: 1525px) {
    main {
        width: 100%;
    }

    .contact-me-container {
        width: 75% !important;
    }

    .contact-form-container {
        width: 75% !important;
    }

    .contact-me-margin {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-iveRead-privacy-agree {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }

    .read-check-container {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 830px) {
    .firaCode-64-700-lightblue {
        font-size: 48px !important;
    }
}

@media (max-width: 650px) {
    .contact-me-container {
        width: 85% !important;
    }

    .contact-form-container {
        width: 85% !important;
    }

    .firaCode-64-700-lightblue {
        font-size: 40px !important;
    }
}

@media (max-width: 550px) {
    .m-left-32 {
        margin-left: 0 !important;
    }
}

@media (max-width: 470px) {
    .contact-me-container {
        width: 90% !important;
    }

    .contact-form-container {
        width: 90% !important;
    }

    .firaCode-64-700-lightblue {
        font-size: 32px !important;
    }

}

@media (max-width: 450px) {
    .contact-me-container {
        width: 100% !important;
    }

    .contact-form-container {
        width: 100% !important;
    }

    .contactNeedLetsTalk {
        font-size: 14px;
    }

    .karla-16-700-lightblue {
        font-size: 14px !important;
    }

    .firaCode-24-500-lightblue {
        font-size: 20px !important;
    }
}

@media (max-width: 370px) {
    .contact-iveRead-privacy-agree {
        font-size: 12px !important;
    }

    .firaCode-15-400-lightblue {
        font-size: 12px !important;
    }

    .firaCode-64-700-lightblue {
        font-size: 26px !important;
    }

    .karla-24-500-lightblue {
        font-size: 20px !important;
    }
}