@import "../../colors.scss";

main {
    background-color: $grey;
    display: flex;
    justify-content: center;
    padding-top: 112px;
    margin-top: -2px;

    a {
        text-decoration: none;
    }
    
    .contact-me-margin {
        display: flex;
        width: 90%;
    }

    .m-top-32 {
        margin-top: 32px;
    }

    .m-left-6 {
        margin-left: 6px;
    }

    .m-top-16 {
        margin-top: 16px;
    }

    .m-top-24 {
        margin-top: 24px;
    }

    .m-left-right-6 {
        margin-left: 6px;
        margin-right: 6px;
    }

    .m-left-32 {
        margin-left: 32px;
    }

    .contact-me-container {
        width: 50%;

        .karla-24-500-lightblue {
            font-family: Karla;
            font-size: 24px;
            color: $lightblue;
            font-weight: 500;
        }

        .firaCode-64-700-lightblue {
            font-family: Fira Code;
            font-size: 64px;
            color: $lightblue;
            font-weight: 700;
        }

        .firaCode-24-700-lightblue {
            font-family: Fira Code;
            font-size: 24px;
            color: $lightblue;
            font-weight: 700;
        }

        .karla-16-400-white {
            font-family: Karla;
            font-size: 16px;
            color: $white;
            font-weight: 400;
        }

        .letsTalk-container {
            padding-bottom: 16px;
            display: flex;
            .karla-16-700-lightblue {
                font-family: Karla;
                font-size: 16px;
                font-weight: 700;
                color: $lightblue;
            }
        }
        .contactNeedLetsTalk {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.success-message {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    color: rgb(3, 173, 3);
    font-family: Karla;
    font-size: 16px;
}