@import "../../colors.scss";

@media (max-width: 1250px) {
    .aboutme-main-container {
        width: 100% !important;
        display:flex;
        flex-direction: column;
        align-items:center !important;
        justify-content:flex-start !important;
    }
    .aboutme-container {
        margin-top: 48px !important;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutme-picture-container {
        margin-top: 48px !important;
    }
    .aboutme-text-container {
        width:415px !important;
        h1 {
            font-size: 48px !important;
        }
    }
    .aboutme-headline-container {
        width: 100%;
        display:flex;
        justify-content: flex-start;
        margin-left: 8px;
        margin-top: 16px;
    }
}

@media (max-width: 550px) {
    .picture-me-container {
        img {
            height: 500px !important;
        }
    }
    .aboutme-text-container {
        width: 80% !important;
    }
    .aboutme-headline-container {
        width: 80%;
        margin-left: 8px;
    }
}

@media (max-width: 450px) {
    .picture-me-container {
        img {
            height: 400px !important;
        }
    }
    .aboutme-text-container {
        width:90% !important;
    }
    .aboutme-text-container {
        height: auto;
        background-color: #1f2e2b;
        border-radius: 30px;
        border: 1px solid $lightblue;
        font-family: Karla;
        font-size: 18px;
        padding-left: 24px;
        padding-right: 24px;
        h1 {
            color: $lightblue;
            font-family: Fira Code;
            font-weight: 700;
            font-size: 48px !important;
        }
    }
    .aboutme-main {
        display:flex;
        justify-content: center;
    }
    .aboutme-headline-container {
        width: 90%;
        margin-left: 16px;
    }
}

@media (max-width: 350px) {
    .picture-me-container {
        img {
            height: 300px !important;
        }
    }
    .aboutme-text-container {
        width: 95% !important;
    }
    .aboutme-text-container {
        width: 568px;
        height: auto;
        background-color: #1f2e2b;
        border-radius: 30px;
        border: 1px solid $lightblue;
        font-family: Karla;
        font-size: 16px !important;
        padding-left: 24px;
        padding-right: 24px;
        h1 {
            color: $lightblue;
            font-family: Fira Code;
            font-weight: 700;
            font-size: 32px !important;
        }
    }
    .aboutme-headline-container {
        width: 95%;
        margin-left: 0px;
    }
}