<div id="aboutme-id" class="aboutme-main">
    <div class="aboutme-main-container">
        <div class="aboutme-picture-container">
            <div class="picture-me-container">
                <img  src="../../assets/picture/sascha_borowski.png" alt="SaschaBorowskiBild">
            </div>
        </div>
        <div class="aboutme-container">
            <div class="aboutme-headline-container">
                <h2>{{ 'aboutme.whoiam' | translate }}</h2>
            </div>
            <div class="aboutme-text-container">
                <h1>{{ 'aboutme.aboutme' | translate }}</h1>
                <div class="mb32">
                    {{ 'aboutme.description' | translate}}
                </div>
                <div class="aboutme-flex mb16">
                    <div class="aboutme-image-container">
                        <img src="../../assets/icons/location_on.png" alt="location">
                    </div>
                    <div>
                        {{ 'aboutme.location' | translate }}
                    </div>
                </div>
                <div class="aboutme-flex mb16">
                    <div class="aboutme-image-container">
                        <img src="../../assets/icons/cognition.png" alt="cognition">
                    </div>
                    <div>
                        {{ 'aboutme.mind' | translate }}
                    </div>
                </div>
                <div class="aboutme-flex mb16">
                    <div class="aboutme-image-container">
                        <img src="../../assets/icons/new_releases.png" alt="releases">
                    </div>
                    <div>
                        {{ 'aboutme.goals' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>