<div class="aboutme-main">
    <div class="aboutme-main-container">
        <div class="aboutme-picture-container">
            <img src="../../assets/picture/mssingPicture.png" alt="SaschaBorowskiBild">
        </div>

        <div class="aboutme-container">
            <div class="aboutme-headline-container">
                <h2>Who I Am</h2>
            </div>
            <div class="aboutme-text-container">
                <h1>About me</h1>
                <div class="mb32">
                    Hi, Im a german speaking Frontend Developer based in Munich. Motivated by the limitless
                    opportunities
                    within IT, I am excited about crafting visually captivating and intuitive websites and applications.
                </div>

                <div class="aboutme-flex mb16">
                    <div class="aboutme-image-container">
                        <img src="../../assets/icons/location_on.png" alt="location">
                    </div>
                    <div>
                        Flexible in terms of working environments, I can work effectively both on-site in Munich and
                        remotely.
                    </div>
                </div>

                <div class="aboutme-flex mb16">
                    <div class="aboutme-image-container">
                        <img src="../../assets/icons/cognition.png" alt="cognition">
                    </div>
                    <div>
                        I am open-minded and always looking for personal challenges to constantly improve my knowledge
                        and skills.
                    </div>
                </div>

                <div class="aboutme-flex mb16">
                    <div class="aboutme-image-container">
                        <img src="../../assets/icons/new_releases.png" alt="releases">
                    </div>
                    <div>
                        In my profession, programming isn't just about writing code; it's a creative form of
                        problem-solving. I take pride in my ability to distill complex technical challenges into simple,
                        user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>