@import "../../colors.scss";

.technologies-responsive {
    display:flex;
    justify-content: center;
    background-color: $grey;
    width: 100%;
    margin-top: -3px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    padding-top: 64px;

    h2 {
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        font-family: Karla;
        font-weight: 700;
        font-size: 24px;
        color: $lightblue;
        padding-bottom: 16px;
    }
}

.technologies-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.technologies-skill-set-container {
    width: 568px;
    height: auto;
    background-color: #1f2e2b;
    border-radius: 30px;
    border: 1px solid $lightblue;
    font-family: Karla;
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;

    h1 {
        font-family: Fira Code;
        font-weight: 700;
        font-size: 64px;
        color: $lightblue;
    }

    .technologies-anotherSkill-container {
        display: flex;
        gap: 12px;

        .technologies-youNeed {
            font-family: Fira Code;
            font-weight: 700;
            font-size: 18px;
        }

        .technologies-anotherSkill {
            font-family: Fira Code;
            font-weight: 700;
            font-size: 18px;
            color: $lightblue;
        }
    }

}

.letsTalk-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
    border-radius: 20px;
    transition: border-color 0.35s ease-in-out;
    overflow: hidden;
    width: 128px;
    height: 39px;
    margin-top: 64px;
    margin-bottom: 16px;

    &:hover {
        border-color: $lightblue;
        cursor: pointer;

        .letsTalk-button {
            animation: moveLeft 2s infinite linear;
        }
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0%);
        visibility: visible;
    }

    49% {
        visibility: visible;
    }

    50% {
        transform: translateX(-140%);
        visibility: hidden;
    }

    51% {
        transform: translateX(140%);
        visibility: hidden;
    }

    52% {
        visibility: visible;
    }

    100% {
        transform: translateX(0%);
        visibility: visible;
    }
}