<main id="skills">

    <h2>{{ 'technologies.technologies' | translate }}</h2>

    <div class="technologies-container">
        <div class="technologies-skill-set-container">
            <div>
                <h1>{{ 'technologies.skillset' | translate }}</h1>
            </div>
            <div>
                <p>
                    {{ 'technologies.description' | translate }}
                </p>
            </div>
            <div class="technologies-anotherSkill-container">
                <p class="technologies-youNeed">{{ 'technologies.youneed' | translate }}</p>
                <p class="technologies-anotherSkill">{{ 'technologies.anotherskill' | translate }}</p>
            </div>
            <div>
                {{ 'technologies.contactme' | translate }}
            </div>
            <div (click)="scrollTo('contact-me')" class="letsTalk-container">
                <p  class="letsTalk-button">{{ 'technologies.letstalk' | translate }}</p>
            </div>
        </div>


        <div class="technologies-icons-container">
            <div class="technologies-skill-container">
                <img src="../../assets/icons/html.png" alt="html">
                <p>
                    HTML
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/css.png" alt="css">
                <p>
                    CSS
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/Javascript.png" alt="javascript">
                <p>
                    JavaScript
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/Frame.png" alt="materialDesign">
                <p>
                    Material <br> Design
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/TypeScript.png" alt="typeScript">
                <p>
                    TypeScript
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/Angular.png" alt="angular">
                <p>
                    Angular
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/Firebase.png" alt="firebase">
                <p>
                    Firebase
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/git.png" alt="git">
                <p>
                    GIT
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/api.png" alt="restApi">
                <p>
                    Rest-Api
                </p>
            </div>
            <div class="technologies-skill-container">
                <img src="../../assets/icons/scrum.png" alt="scrum">
                <p>
                    Scrum
                </p>
            </div>
            <div class="technologies-skill-container relative">
                <div #container class="growthMindset-container" 
                     (mouseenter)="onMouseEnter($event)" 
                     (mousemove)="onMouseMove($event)" 
                     (mouseleave)="onMouseLeave()" 
                     (click)="onContainerClick($event)">
                    <div class="growth-image-text-container">
                        <img src="../../assets/icons/grow.svg" alt="growthMindset">
                        <p>{{ 'technologies.growth' | translate }} <br> {{ 'technologies.mindset' | translate }}</p>
                    </div>
                    <div class="popup" [ngClass]="{ 'visible': isPopupVisible }"
                         [ngStyle]="{ top: popupY + 'px', left: popupX + 'px' }" 
                         [attr.aria-hidden]="!isPopupVisible">
                        <img src="../../assets/icons/my_special_learning.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>