<main>

    <h2>Technologies</h2>

    <div class="technologies-container">
        <div class="technologies-skill-set-container">
            <div>
                <h1>Skill Set</h1>
            </div>
            <div>
                <p>
                    My journey has involved working on diverse projects, employing a range of frontend technologies
                    and
                    concepts. I am open to embracing new technologies and methodologies to Continously enhance my
                    skills
                    and
                    stay ahead in the ever-evolving landscape of web development.
                </p>
            </div>
            <div class="technologies-anotherSkill-container">
                <p class="technologies-youNeed">You need</p>
                <p class="technologies-anotherSkill">another Skill?</p>
            </div>
            <div>
                Feel free to contact me. I look forward to expanding on my previous knowledge.
            </div>
            <div class="letsTalk-container">
                <p class="letsTalk-button">Let's Talk</p>
            </div>
        </div>


        <div class="technologies-icons-container">
            <div>
                <img src="../../assets/icons/html.png" alt="html">
                <p>
                    HTML
                </p>
            </div>
            <div>
                <img src="../../assets/icons/css.png" alt="css">
                <p>
                    CSS
                </p>
            </div>
            <div>
                <img src="../../assets/icons/Javascript.png" alt="javascript">
                <p>
                    JavaScript
                </p>
            </div>
            <div>
                <img src="../../assets/icons/Frame.png" alt="materialDesign">
                <p>
                    Material <br> Design
                </p>
            </div>
            <div>
                <img src="../../assets/icons/TypeScript.png" alt="typeScript">
                <p>
                    TypeScript
                </p>
            </div>
            <div>
                <img src="../../assets/icons/Angular.png" alt="angular">
                <p>
                    Angular
                </p>
            </div>
            <div>
                <img src="../../assets/icons/Firebase.png" alt="firebase">
                <p>
                    Firebase
                </p>
            </div>
            <div>
                <img src="../../assets/icons/git.png" alt="git">
                <p>
                    GIT
                </p>
            </div>
            <div>
                <img src="../../assets/icons/api.png" alt="restApi">
                <p>
                    Rest-Api
                </p>
            </div>
            <div>
                <img src="../../assets/icons/scrum.png" alt="scrum">
                <p>
                    Scrum
                </p>
            </div>
            <div>
                <img src="../../assets/icons/grow.png" alt="growthMindset">
                <p>
                    Growth <br> mindset
                </p>
            </div>
        </div>
    </div>

</main>