@import "../../colors.scss";

.project-join-container {
    height: 109px;
    width: 880px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 325px;
    border-top: 1px solid $lightblue;
    border-bottom: 1px solid $lightblue;
    transition: background-color 125ms ease-in-out;

    .project-join-headline-arrow-container {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            transition: opacity 125ms ease-in-out;
            opacity: 0;
            display: block;
            width: 24px;
            height: 24px;
        }
    }

    .project-join-headline {
        p {
            font-weight: 700;
            font-size: 24px;
            color: $white;
        }
    }

    .project-join-languages-container {
        display: flex;
        gap: 16px;
        align-items: center;

        p {
            font-family: Karla;
            font-weight: 400;
            font-size: 18px;
        }

        img {
            width: 1px;
            height: 16px;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: $lightblue-hover;

        .project-join-headline-arrow-container {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                opacity: 100;
                display: block;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.elPolloLoco-wrapper {
    display: flex;
    align-items: center;

    .elPolloLoco-screenshot-container {
        position: absolute;
        right: 500px;

        img {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
    }
}