@import "../../colors.scss";

main {
    background-color: $grey;
    height: 80dvh;
    display: flex;
    justify-content: center;
}

.portfolio-margin {
    width: 90%;
}

.portfolio-headline-container {
    margin-top: 128px;

    h2 {
        color: $lightblue;
        font-family: Karla;
        font-size: 24px;
        font-weight: 700;
    }
}

.portfolio-seccond-headline-container {
    h1 {
        font-family: Fira Code;
        font-weight: 700;
        font-size: 64px;
        color: $lightblue;
    }
}

.portfolio-description-container {
    font-family: Karla;
    font-weight: 400;
    font-size: 16px;
    color: $white;
    margin-bottom: 40px;
}

.join-wrapper {
    display: flex;
    align-items: center;

    .join-screenshot-container {
        position: absolute;
        right: 500px;

        img {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
    }
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow-btn-container {
        height: 40px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .arrow-btn {
            display: flex;
            align-items: center;
            gap: 8px;
            font-family: Karla;
            font-size: 18px;
            color: $lightblue;
            cursor: pointer;
            transition: all ease-in-out 155ms;

            img {
                transition: all ease-in-out 155ms;
            }

            &:hover {
                color: $white;

                img {
                    transform: translateX(4px);
                }
            }
        }
    }
}