@import "../../colors.scss";

main {
  width: 100%;
  background-color: $grey;
  display: flex;
  flex-direction: column;
}

.colleagues-about-me-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  .colleagues-headline {
    font-family: Fira Code;
    font-weight: 700;
    font-size: 32px;
    color: $lightblue;
  }
  .colleagues-headline2 {
    font-family: Fira Code;
    font-weight: 700;
    font-size: 32px;
    color: $lightblue;
  }
}

.colleagues-main-container {
  width: 100%;
  display:flex;
  justify-content: center;
}

.carousel {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  width: 35%;
  height: 274px;
  background: #26524B;
  font-family: Karla;
  font-size: 18px;
  color: $white;
  border-radius: 32px;
  border: 1px solid $lightblue;
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  z-index: 1;
  opacity: 0.5;
  filter: blur(4px);
  pointer-events: auto;

  .box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 32px;
    margin-right: 32px;
  }

  .author-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .line {
      width: 65%;
      background-color: $white;
      height: 1px;
    }
    .author-box {
      display:flex;
      justify-content: flex-end;
    }
  }
}

.carousel-item.active {
  transform: translateX(0) scale(1.1);
  opacity: 1;
  filter: blur(0);
  z-index: 3;
}

.carousel-item.left {
  transform: translateX(-120%) scale(0.9);
}

.carousel-item.right {
  transform: translateX(120%) scale(0.9);
}

.carousel-indicators {
  background-color: rgba(255, 255, 255, 0.61);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 16px;
}

.indicator {
  width: 10px;
  height: 10px;
  background: $white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.indicator.active {
  background: $lightblue;
}

.arrow-left {
  height: 24px;
  width: 24px;
  background-image: url('../../assets/icons/arrow_back.svg');
  background-repeat: no-repeat;
  background-size:cover;
  transition: all ease-in-out 150ms;
  &:hover {
    cursor: pointer;
    scale: 1.15;
    background-image: url('../../assets/icons/arrow_back_lightblue.svg');
  }
}

.arrow-right {
  height: 24px;
  width: 24px;
  background-image: url('../../assets/icons/arrow_forward.svg');
  background-repeat: no-repeat;
  background-size:cover;
  transition: all ease-in-out 100ms;
  &:hover {
    cursor: pointer;
    scale: 1.15;
    background-image: url('../../assets/icons/arrow_forward_lightblue.svg');
  }
}

.carousel-arrows-indicator-container {
  width: 100%;
  height: 64px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1350px) {
  .line {
    width: 55% !important;
  }
}

@media (max-width: 1100px) {
  .line {
    width: 45% !important;
  }
}

@media (max-width: 900px) {
  .box-content {
    margin-left: 16px !important; 
    margin-right: 16px !important;
  }
}

@media (max-width: 850px) {
  .carousel-item {
    width: 40%;
  }
}

@media (max-width: 750px) {
  .carousel-item {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .carousel-item {
    width: 60%;
  }
  .colleagues-about-me-container {
    .colleagues-headline {
      font-size: 24px;
    }
    .colleagues-headline2 {
      font-size: 24px;
    }
  }
}

@media (max-width: 550px) {
  .carousel-item {
    width: 75%;
  }
}

@media (max-width: 550px) {
  .carousel-item {
    width: 80%;
  }

  .colleagues-about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 450px) {
  .carousel-item {
    width: 85%;
  }
}

@media (max-width: 450px) {
  .colleagues-about-me-container {
    .colleagues-headline {
      font-size: 20px;
    }
    .colleagues-headline2 {
      font-size: 20px;
    }
  }
  .line {
    width: 40% !important;
  }
  .carousel-item {
    font-size: 16px;
  }
}