@import "../../colors.scss";

.colleagues-responsive {
  width: 100%;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

.colleagues-about-me-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  padding-bottom: 16px;

  .colleagues-headline {
    font-family: Fira Code;
    font-weight: 700;
    font-size: 32px;
    color: $lightblue;
  }
  .colleagues-headline2 {
    font-family: Fira Code;
    font-weight: 700;
    font-size: 32px;
    color: $lightblue;
  }
}

.colleagues-main-container {
  width: 100%;
  display:flex;
  justify-content: center;
}

.carousel {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  width: 35%;
  height: auto;
  background: #26524B;
  font-family: Karla;
  font-size: 18px;
  color: $white;
  border-radius: 32px;
  border: 1px solid $lightblue;
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  z-index: 1;
  opacity: 0.5;
  filter: blur(4px);
  pointer-events: auto;

  .box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 24px;
  }

  .author-container {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    .line {
      width: 63%;
      background-color: $white;
      height: 1px;
    }
    .author-box {
      display:flex;
      justify-content: flex-end;
    }
  }
}

.carousel-item.active {
  transform: translateX(0) scale(1.1);
  opacity: 1;
  filter: blur(0);
  z-index: 3;
}

.carousel-item.left {
  transform: translateX(-120%) scale(0.9);
}

.carousel-item.right {
  transform: translateX(120%) scale(0.9);
}

.carousel-indicators {
  background-color: rgba(255, 255, 255, 0.61);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 16px;
}

.indicator {
  width: 10px;
  height: 10px;
  background: $white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.indicator.active {
  background: $lightblue;
}