@import "../../colors.scss";

* {
    font-family: Karla;
}

main {
    background: linear-gradient(105deg, #09453a 0%, #1c1c1c 94%);
    width: 100%;
    display:flex;
    justify-content: center;
    height: auto;

    .privacy-wrapper {
        margin-top: 112px;
        width: 90%;

        .arrow-back-container {
            width: 100%;
            display:flex;
            justify-content: flex-end;
            margin-top: 32px;
            img {
                width: 48px;
                cursor: pointer;
            }
        }
    }

    .privacy-email-container {
        padding-bottom: 32px;
    }
    a {
        text-decoration: none;
        color: $lightblue;
        &:hover {
            color: $lightblue-hover;
        }
    }
}

h1 {
    padding-top: 32px;
    margin-top: 0;
    font-family: Fire Code;
}

h2, h3, h4 {
    font-family: Fire Code;
}

@media (min-width: 1930px) {
    main {
        width: 100%;
    }

    .privacy-wrapper {
        width: 1920px !important;
    }
}

@media (min-width: 2550px) {
    main {
        height: 200dvh;
    }
}

@media (min-width: 3830px) {
    main {
        height: 125dvh;
    }
}