<app-header></app-header>
<main>
    <div class="privacy-wrapper">
        <div class="arrow-back-container">
            <a routerLink="/">
                <img src="../../assets/icons/arrow_back.png" alt="back">
            </a>
        </div>
        <h1>{{ 'privacyPolicy.title' | translate }}</h1>
        <p>{{ 'privacyPolicy.lastUpdated' | translate }}</p>
        <p>{{ 'privacyPolicy.description1' | translate }}</p>
        <p>{{ 'privacyPolicy.description2' | translate }}</p>
        <p>{{ 'privacyPolicy.note' | translate }} <a href="https://www.termsfeed.com/privacy-policy-generator/"
                target="_blank">Privacy Policy
                Generator</a></p>
        <h2>{{ 'privacyPolicy.interpretationAndDefinitions' | translate }}</h2>
        <h3>{{ 'privacyPolicy.interpretation' | translate }}</h3>
        <p>{{ 'privacyPolicy.interpretationText' | translate }}</p>
        <h3>{{ 'privacyPolicy.definitions' | translate }}</h3>
        <p>{{ 'privacyPolicy.definitionsText' | translate }}</p>
        <ul>
            <ul>
                <li>
                    <p><strong>{{ 'privacyPolicy.account' | translate }}</strong> {{ 'privacyPolicy.accountText' |
                        translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.affiliate' | translate }}</strong> {{ 'privacyPolicy.affiliateText' |
                        translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.company' | translate }}</strong> {{ 'privacyPolicy.companyText' |
                        translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.cookies' | translate }}</strong> {{ 'privacyPolicy.cookiesText' |
                        translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.country' | translate }}</strong> {{ 'privacyPolicy.countryText' |
                        translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.device' | translate }}</strong> {{ 'privacyPolicy.deviceText' |
                        translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.personalData' | translate }}</strong> {{
                        'privacyPolicy.personalDataText' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.service' | translate }}</strong> {{ 'privacyPolicy.serviceText' |
                        translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.serviceProvider' | translate }}</strong> {{
                        'privacyPolicy.serviceProviderText' | translate }}</p>
                </li>
                <li>
                    <p><strong>{{ 'privacyPolicy.usageData' | translate }}</strong> {{ 'privacyPolicy.usageDataText' |
                        translate }}</p>
                </li>
            </ul>
            <li>
                <p><strong>{{ 'privacyPolicy.website' | translate }}</strong> {{ 'privacyPolicy.websiteText' | translate
                    }}
                    <a href="https://borowski-sascha.de/" rel="external nofollow noopener"
                        target="_blank">https://borowski-sascha.de/</a>
                </p>
            </li>
            <li>
                <p><strong>{{ 'privacyPolicy.you' | translate }}</strong> {{ 'privacyPolicy.youText' | translate }}</p>
            </li>
        </ul>
        <h2>{{ 'privacyPolicy.fj93kd2' | translate }}</h2>
        <h3>{{ 'privacyPolicy.hd72ms2' | translate }}</h3>
        <h4>{{ 'privacyPolicy.lx92kd' | translate }}</h4>
        <p>{{ 'privacyPolicy.pq83nf' | translate }}</p>
        <ul>
            <li>
                <p>{{ 'privacyPolicy.ab39zx' | translate }}</p>
            </li>
            <li>
                <p>{{ 'privacyPolicy.vk52qp' | translate }}</p>
            </li>
            <li>
                <p>{{ 'privacyPolicy.wy83tm' | translate }}</p>
            </li>
        </ul>
        <h4>{{ 'privacyPolicy.df64pl2' | translate }}</h4>
        <p>{{ 'privacyPolicy.qm27vz' | translate }}</p>
        <p>{{ 'privacyPolicy.nx38kt' | translate }}</p>
        <p>{{ 'privacyPolicy.zl47pm' | translate }}</p>
        <p>{{ 'privacyPolicy.kp18yx' | translate }}</p>
        <h4>{{ 'privacyPolicy.tx92mf2' | translate }}</h4>
        <p>{{ 'privacyPolicy.vp34xw' | translate }}</p>
        <ul>
            <li><strong>{{ 'privacyPolicy.gd85nz' | translate }}</strong> {{ 'privacyPolicy.xq29bd' | translate }}</li>
            <li><strong>{{ 'privacyPolicy.yt47vm' | translate }}</strong> {{ 'privacyPolicy.mz56wl' | translate }}</li>
        </ul>
        <h2>{{ 'privacyPolicy.fj93kd' | translate }}</h2>
        <h3>{{ 'privacyPolicy.hd72ms' | translate }}</h3>
        <p>{{ 'privacyPolicy.rt28vc' | translate }}</p>
        <p>{{ 'privacyPolicy.kx64md' | translate }}</p>
        <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">TermsFeed website</a>
        <ul>
            <li>
                <p><strong>{{ 'privacyPolicy.np48gz' | translate }}</strong></p>
                <p>{{ 'privacyPolicy.qd75lx' | translate }}</p>
                <p>{{ 'privacyPolicy.lp92mz' | translate }}</p>
                <p>{{ 'privacyPolicy.gf29vb' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privacyPolicy.cf82zk' | translate }}</strong></p>
                <p>{{ 'privacyPolicy.bp56fq' | translate }}</p>
                <p>{{ 'privacyPolicy.vm38yr' | translate }}</p>
            </li>
            <li>
                <p><strong>{{ 'privacyPolicy.jg59tx' | translate }}</strong></p>
                <p>{{ 'privacyPolicy.zr47bm' | translate }}</p>
                <p>{{ 'privacyPolicy.ld93vq' | translate }}</p>
            </li>
        </ul>
        <p>{{ 'privacyPolicy.kh39ls' | translate }}</p>
        <h3>{{ 'privacyPolicy.xp28nd' | translate }}</h3>
        <p>{{ 'privacyPolicy.wq67lt' | translate }}</p>
        <ul>
            <li><strong>{{ 'privacyPolicy.vc39gf' | translate }}</strong> {{ 'privacyPolicy.rt92df' | translate }}</li>
            <li><strong>{{ 'privacyPolicy.yt57mp' | translate }}</strong> {{ 'privacyPolicy.lq84nx' | translate }}</li>
            <li><strong>{{ 'privacyPolicy.df94gp' | translate }}</strong> {{ 'privacyPolicy.ns23vk' | translate }}</li>
            <li><strong>{{ 'privacyPolicy.nj43sy' | translate }}</strong> {{ 'privacyPolicy.rt83pl' | translate }}</li>
            <li><strong>{{ 'privacyPolicy.lp32kb' | translate }}</strong> {{ 'privacyPolicy.dh25jr' | translate }}</li>
        </ul>
        <h3>{{ 'privacyPolicy.df64pl' | translate }}</h3>
        <ul>
            <li><strong>{{ 'privacyPolicy.xz28lb' | translate }}</strong> {{ 'privacyPolicy.cp39rq' | translate }}</li>
            <li><strong>{{ 'privacyPolicy.wm93vc' | translate }}</strong> {{ 'privacyPolicy.bq58mt' | translate }}</li>
        </ul>
        <h3>{{ 'privacyPolicy.tx92mf' | translate }}</h3>
        <p>{{ 'privacyPolicy.kd49mz' | translate }}</p>
        <ul>
            <li>{{ 'privacyPolicy.gc37xp' | translate }}</li>
            <li>{{ 'privacyPolicy.qm48rz' | translate }}</li>
        </ul>
        <h3>{{ 'privacyPolicy.kf82tn' | translate }}</h3>
        <p>{{ 'privacyPolicy.bt94lx' | translate }}</p>
        <h2>{{ 'privacyPolicy.vl56xf' | translate }}</h2>
        <p>{{ 'privacyPolicy.km48tz' | translate }}</p>
        <h2>{{ 'privacyPolicy.uz56kj' | translate }}</h2>
        <p>{{ 'privacyPolicy.hf93tz' | translate }}</p>
        <h2>{{ 'privacyPolicy.hm92yf' | translate }}</h2>
        <p>{{ 'privacyPolicy.jf92hn' | translate }}</p>
        <h2>{{ 'privacyPolicy.kt49lz' | translate }}</h2>
        <p>{{ 'privacyPolicy.yr58qz' | translate }}</p>
        <h2>{{ 'privacyPolicy.tl83nx' | translate }}</h2>
        <p>{{ 'privacyPolicy.rl74bz' | translate }}</p>
        <h3>{{ 'privacyPolicy.vx94jt' | translate }}</h3>
        <p>{{ 'privacyPolicy.wp84hx' | translate }}</p>
        <h3>{{ 'privacyPolicy.mc92vf' | translate }}</h3>
        <p>{{ 'privacyPolicy.gq39vk' | translate }}</p>
        <h3>{{ 'privacyPolicy.kn32vl' | translate }}</h3>
        <p>{{ 'privacyPolicy.og83vf' | translate }}</p>
        <h3>{{ 'privacyPolicy.oz47kc' | translate }}</h3>
        <p>{{ 'privacyPolicy.rp93hf' | translate }}</p>
        <h2>{{ 'privacyPolicy.gh93sfl' | translate }}</h2>
        <ul class="privacy-email-container">
            <li>{{ 'privacyPolicy.zt92sd' | translate }} developer&#64;borowski-sascha.de</li>
        </ul>
    </div>
</main>
<app-footer></app-footer>