@import "../../colors.scss";

* {
    font-family: Karla;
}

main {
    background-color: $grey;
    width: 100%;
    height: 53.6dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    .legal-notice-wrapper {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .arrow-back-container {
            width: 100%;
            display:flex;
            justify-content: flex-end;
            img {
                width: 48px;
                cursor: pointer;
            }
        }
    }
    a {
        text-decoration: none;
        color: $lightblue;
        &:hover {
            color: $lightblue-hover;
        }
    }
}

h1 {
    padding-top: 32px;
    margin-top: 0;
    font-family: Fire Code;
}

h2,
h3,
h4 {
    font-family: Fire Code;
}

@media (min-width: 1930px) {
    main {
        width: 100%;
    }

    .legal-notice-wrapper {
        width: 1920px;
    }
}

@media (min-width: 2550px) {
    main {
        width: 100%;
        height: 77.8dvh;
    }

    .legal-notice-wrapper {
        width: 1920px !important;
    }
}

@media (min-width: 3830px) {
    main {
        width: 100%;
        height: 85.2dvh;
    }

    .legal-notice-wrapper {
        width: 1920px !important;
    }
}