@import "../../colors.scss";

.project-number {
    font-family: Karla;
    font-weight: 700;
    font-size: 128px;
    color: $lightblue;
}

.project-title {
    font-family: Fira Code;
    font-size: 64px;
    font-weight: 700;
    color: $white;
}

.close-btn-container {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;

    .close-btn {
        width: 16px;
        height: 16px;
        align-self: flex-end;
        margin-right: 8px;
        background-image: url('../../assets/icons/close_small_white.svg');
        background-size: cover;
        font-size: 20px;
        cursor: pointer;
        transition: all 155ms ease-in-out;

        &:hover {
            background-image: url('../../assets/icons/close_small_lightblue.svg');
            scale: 1.25;

        }
    }
}

.project-image-responsive {
    display: none;
}

.close-btn-container-responsive {
    display: none;
}

.close-btn-responsive {
    display: none;
}

.project-links-container {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 32px;

    .project-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 48px;
        border-radius: 100px;
        border: 1px solid $white;
        transition: all 155ms ease-in-out;
        cursor: pointer;

        a {
            text-decoration: none;
            color: $white;
            font-family: Karla;
            font-size: 18px;
            transition: all 155ms ease-in-out;
        }

        img {
            transition: all 155ms ease-in-out;
        }

        &:hover {
            a {
                color: $lightblue;
            }

            img {
                transform: translateX(4px) translateY(-4px);
            }

            border: 1px solid $lightblue;
        }
    }
}