@import "../../colors.scss";

.main-container {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: $white;
    }

    .modal-content {
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .project-info-image-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;



            .project-info {
                flex-direction: column;
                justify-content: center;

                .is-about {
                    font-family: 'Fira Code';
                    font-weight: 700;
                    font-size: 24px;
                    color: $lightblue;
                }

                .project-description {
                    font-family: Karla;
                    font-weight: 400;
                    font-size: 18px;
                    color: $white;
                }

                .project-languages-container {
                    height: 24px;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    .project-languages {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }
                }
            }
        }
    }
}