@import "../../colors.scss";

@media (max-width: 1300px) {
    .main-container {
        height: 85dvh;
    }

    .close-btn-project-image-responsive {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .project-image {
        display: none;
    }

    .close-btn {
        display: none;
    }

    .close-btn-container-responsive {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 48px;
    }

    .close-btn-responsive {
        display: flex;
        width: 16px;
        height: 16px;
        background-image: url('../../assets/icons/close_small_white.svg');
        background-size: cover;
        font-size: 20px;
        cursor: pointer;
    }

    .project-image-responsive {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 250px;
        }
    }
}

@media (max-width: 800px) {
    .main-container {
        height: 80dvh;
    }

    .project-number {
        font-size: 72px;
    }

    .project-title {
        font-size: 56px;
    }

    .project-description {
        font-size: 16px;
    }

    .project-image-responsive {
        padding-top: 0px;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .project-image-responsive {
        img {
            width: auto;
            height: 225px;
        }
    }

    .close-btn-container-responsive {
        height: 88px;
    }

    .project-number {
        font-size: 56px;
    }

    .project-title {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .project-image-responsive {
        img {
            width: auto;
            height: 225px;
        }
    }

    .close-btn-container-responsive {
        height: 25px;
    }

    .project-number {
        font-size: 40px;
    }

    .project-title {
        font-size: 24px;
    }

    .is-about {
        font-size: 16px !important;
    }

    .project-languages-container {
        height: 24px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 16px !important;

        .project-languages {
            display: flex;
            align-items: center;
            gap: 4px !important;
        }
    }
}

@media (max-width: 473px) {
    .project-links-container {
        margin-top: 56px !important;
    }
}

@media (max-width: 400px) {
    .project-image-responsive {
        img {
            width: auto;
            height: 155px;
        }
    }
}