<header>
    <div class="header-logo-container">
        <div class="header-left-container">
            <div class="language-button-container">
                <div class="language-button-EN">EN</div>
                <div class="language-button-DE">DE</div>
            </div>
            <div class="header-navbar">About me</div>
            <div class="header-navbar">Skills</div>
            <div class="header-navbar">Projects</div>
        </div>
        <div class="header-right-container">
            <img src="../../assets/logo/logo.png" alt="">
            <div class="header-logo-name-lastname-container">
                <div>Sascha</div>
                <div>Borowski</div>
            </div>
        </div>
    </div>
</header>